main {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
}

h1 {
    width: 200px;
}

square-tds {
    font-size: large;
}